// Colors --------------------------
$purple: #363f5f;
$beige: #F6F1D1;
$ash-gray: #CFD7C7;
$light-blue: #70A9A1;
$blue: #40798C;
$dark-blue: #0B2027;
$cancel: #e92929;

$soft-red: #ce9191;
$soft-green: #B5DEAD;
$dark-greenish: #12130F;
$dark-beige: #d6cc8f;