// Colors --------------------------
$beige: #F6F1D1;
$light-blue: #95a8c5;
$blue: #65afff;

$cancel: #e92929;
$soft-red: #ce9191;
$soft-green: #B5DEAD;

$sun: #fca311;
$moon: #212529;

$span-color: #091540;
$header-bg: #80c4ff;
$bg: #e6e6e6;
$anchor: #393e41;
$borders-and-text: #121212;

// Colors: DARK-MODE --------------------------
$darkmode-bg: #050a0f;
$darkmode-bg-header: #28323e;
$darkmode-details: #ced6df;
$white-for-dark: #fef9ff;