@import 'variables';
@import 'base';

/* Header ========================== */
header {
    background-color: $light-blue;

    padding: 3rem 0 11rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon-anchor {
        font-weight: 700;
        font-size: 3rem;
        margin-right: 1rem;
        color: $dark-greenish;
        text-shadow: 1px 1px 0 white;
    }

    #logo {
        color: $dark-greenish;
        font-weight: 700;
        text-shadow: 1px 1px 0 white;

        span {
            color: $beige;
            text-shadow: 1px 1px 0 black;
        }
    }
}

/* Balance ========================== */
#balance {
    margin-top: -8rem;

    @include respond(large) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    /* Cards =========================== */
    .card {
        background: whitesmoke;
        padding: 1.5rem 2rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        color: $dark-greenish;
        border: .0625rem ridge $dark-greenish;

        h3 {
            font-weight: 700;
            font-size: 1rem;
            font-style: italic;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon-arrow-up-circle {
                color: #12a454;
                font-size: 2rem;
            }

            .icon-arrow-down-circle {
                color: $cancel;
                font-size: 2rem;
            }

            .icon-dollar-sign {
                color: green;
                font-size: 2rem;
            }
        }

        p {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 1rem;

            &#expenseDisplay {
                color: $cancel;
            }

            &#incomeDisplay {
                color: #12a454;
            }
        }
    }

    .card.total {
        background: $soft-green;
        color: $dark-greenish;
    }
}

/* Table =========================== */
#transaction {

    .button.new {
        color: #12a454;
        opacity: .6;
        margin-bottom: 1rem;
        border-bottom: 3px solid $soft-green;
        border-radius: .5rem;
        display: inline-flex;
        align-items: center;

        &:hover {
            opacity: 1;
        }

        .icon-plus {
            margin-right: .2rem;
        }
    }

    #data-table {
        width: 101%;
        border-spacing: 0 0.5rem;
        color: $blue;
        
        @include respond(small) {
            display: block;
            overflow-x: auto;
        }

        thead {
            
            th {
                background: whitesmoke;
                font-weight: 700;
                padding: 1rem 2rem;
                text-align: left;
                border: .0625rem ridge $dark-greenish;
                
                &:first-child {
                    border-radius: 0.5rem 0 0 0.5rem;
                    border-right: none;
                }

                &:nth-child(2) {
                    border-left: none;
                    border-right: none;
                }

                &:nth-child(3) {
                    border-left: none;
                }

                &:nth-child(4) {
                    border-radius: 0 0.5rem 0.5rem 0;
                    border-left: none;
                }
            }
        }
        
        tbody {
            
            tr {
                opacity: 0.6;
                
                &:hover {
                    opacity: 1;
                    background: white;
                    font-weight: 700;
                }
                
                td {
                    background: whitesmoke;
                    padding: 1rem 2rem;
                    border: .0625rem ridge $dark-greenish;
                    white-space: nowrap;
                    
                    &.description {
                        color: $blue;
                        border-radius: 0.5rem 0 0 0.5rem;
                        border-right: none;
                    }
                    
                    &.income {
                        color: #12a454;
                        border-left: none;
                        border-right: none;
                    }
                    
                    &.expense {
                        color: $cancel;
                        border-left: none;
                        border-right: none;
                    }

                    &.date {
                        border-left: none;
                        border-right: none;
                    }

                    &.remove {
                        border-radius: 0 0.5rem 0.5rem 0;
                        padding: 1rem;
                    }

                    .icon-minus-circle {
                        text-align: center;
                        color: $cancel;
                        font-size: 1.8rem;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
}

/* Modal =========================== */
.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    z-index: 1;


    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    .modal {
        background: $light-blue;
        padding: 2.8rem;
        position: relative;
        z-index: 1;
        border: 3px ridge $beige;

        #form {
            max-width: 500px;

            h2 {
                margin-top: 0;
                font-weight: 700;
                font-style: italic;
                font-size: 2rem;
                color: $dark-blue;
                text-shadow: 1px 1px 0 white;
            }

            .input-group {
                margin: 1rem 0;

                input {
                    border: none;
                    border-radius: .2rem;
                    padding: 0.8rem;
                    width: 100%;

                    &::placeholder {
                        opacity: .8;
                    }
                }

                .help {
                    color: $purple;
                    opacity: .8;
                }
            }

            .button-group {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .button.cancel {
                    width: 48%;
                    height: 50px;
                    text-align: center;
                    color: $dark-blue;
                    background: $soft-red;
                    border: 1px solid $cancel;
                    border-radius: .5rem;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background: #d66060;
                    }
                }
            }

            .icon-anchor {
                text-align: center;
                margin-top: 2rem;
                font-size: 2rem;
                color: $dark-blue;
                text-shadow: 1px 1px 0 white;
            }
        }
    }
}
    
/* Footer =========================== */
footer {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    height: 50px;
    color: $dark-greenish;
    opacity: 1;
    text-decoration: underline;
}