@import 'variables';
@import 'base';

/* Header ========================== */
header {
    background-color: $header-bg;
    box-shadow: 0 0 .5rem black;
    transition: ease-in-out .4s;

    padding: 3rem 0 11rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon-anchor {
        font-weight: 700;
        font-size: 3rem;
        margin-right: 1rem;
        color: $anchor;
        text-shadow: 1px 1px 0 $anchor;
    }

    #logo {
        color: $anchor;
        font-weight: 700;
        text-shadow: 1px 1px 0 $anchor;

        span {
            color: $span-color;
            text-shadow: 1px 1px 0 $span-color;
        }
    }
}

/* Balance ========================== */
#balance {
    margin-top: -8rem;
    transition: ease-in-out .4s;

    @include respond(large) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    /* Cards =========================== */
    .card {
        background: $white-for-dark;
        padding: 1.5rem 2rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        color: $borders-and-text;
        border: .0625rem ridge $borders-and-text;
        white-space: nowrap;
        transition: ease-in-out .4s;
        box-shadow: 0 0 .5rem black;

        h3 {
            font-weight: 700;
            font-size: 1rem;
            font-style: italic;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon-arrow-up-circle {
                color: #12a454;
                font-size: 2rem;
            }

            .icon-arrow-down-circle {
                color: $cancel;
                font-size: 2rem;
            }

            .icon-dollar-sign {
                color: green;
                font-size: 2rem;
            }
        }

        p {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 1rem;

            &#expenseDisplay {
                color: $cancel;
            }

            &#incomeDisplay {
                color: #12a454;
            }
        }
    }

    .card.total {
        background: $soft-green;
        color: $borders-and-text;
        transition: ease-in-out .4s;
    }
}

/* Table =========================== */
#transaction {
    transition: ease-in-out .4s;

    .button.new {
        color: #12a454;
        opacity: .6;
        margin-bottom: 1rem;
        border-bottom: 3px solid $soft-green;
        border-radius: .5rem;
        display: inline-flex;
        align-items: center;

        &:hover {
            opacity: 1;
        }

        .icon-plus {
            margin-right: .2rem;
        }
    }

    #data-table {
        width: 101%;
        border-spacing: 0 0.5rem;
        color: $blue;
        
        @include respond(small) {
            display: block;
            overflow-x: auto;
        }

        thead {
            
            th {
                background: $white-for-dark;
                font-weight: 700;
                padding: 1rem 2rem;
                text-align: left;
                border: .0625rem ridge $borders-and-text;
                transition: ease-in-out .4s;
                
                &:first-child {
                    border-radius: 0.5rem 0 0 0.5rem;
                    border-right: none;
                }

                &:nth-child(2) {
                    border-left: none;
                    border-right: none;
                }

                &:nth-child(3) {
                    border-left: none;
                }

                &:nth-child(4) {
                    border-radius: 0 0.5rem 0.5rem 0;
                    border-left: none;
                }
            }
        }
        
        tbody {
            
            tr {
                opacity: 0.6;
                
                &:hover {
                    opacity: 1;
                    background: $white-for-dark;
                    font-weight: 700;
                }
                
                td {
                    background: $white-for-dark;
                    padding: 1rem 2rem;
                    border: .0625rem ridge $borders-and-text;
                    white-space: nowrap;
                    transition: ease-in-out .4s;
                    
                    &.description {
                        color: $blue;
                        border-radius: 0.5rem 0 0 0.5rem;
                        border-right: none;
                    }
                    
                    &.income {
                        color: #12a454;
                        border-left: none;
                        border-right: none;
                    }
                    
                    &.expense {
                        color: $cancel;
                        border-left: none;
                        border-right: none;
                    }

                    &.date {
                        border-left: none;
                        border-right: none;
                    }

                    &.remove {
                        border-radius: 0 0.5rem 0.5rem 0;
                        padding: 1rem;
                    }

                    .icon-minus-circle {
                        text-align: center;
                        color: $cancel;
                        font-size: 1.8rem;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }

    .dark-theme {
        font-size: 1.7rem;

        .icon-sun {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            color: $sun;
            transition: .3s;

            &.show {
                opacity: 1;
                visibility: visible;
                transition: .3s;
            }
        }

        .icon-moon {
            position: relative;
            color: $moon;
            transition: .3s;

            &.show {
                opacity: 0;
                visibility: hidden;
                transition: .3s;
            }
        }
    }
}

/* Modal =========================== */
.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: ease-in-out .5s;

    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    .modal {
        background: $header-bg;
        padding: 2.8rem;
        position: relative;
        z-index: 1;
        border: 3px ridge $borders-and-text;
        border-radius: .8rem;

        #form {
            max-width: 500px;

            h2 {
                margin-top: 0;
                font-weight: 700;
                font-style: italic;
                font-size: 2rem;
                color: $span-color;
                text-shadow: 1px 1px 0 $borders-and-text;
            }

            .input-group {
                margin: 1rem 0;

                input {
                    border: none;
                    border-radius: .2rem;
                    padding: 0.8rem;
                    width: 100%;

                    &::placeholder {
                        opacity: .8;
                    }
                }

                .help {
                    color: $darkmode-bg;
                    opacity: .8;
                }
            }

            .button-group {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .button.cancel {
                    width: 48%;
                    height: 50px;
                    text-align: center;
                    color: $borders-and-text;
                    background: $soft-red;
                    border: 1px solid $cancel;
                    border-radius: .5rem;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background: #d66060;
                    }
                }
            }

            .icon-anchor {
                text-align: center;
                margin-top: 2rem;
                font-size: 2rem;
                color: $anchor;
                text-shadow: 1px 1px 0 $anchor;
            }
        }
    }
}
    
/* Footer =========================== */
footer {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    height: 50px;
    color: $darkmode-bg;
    text-decoration: underline;
    transition: ease-in-out .4s;
}


/* Cores do DARK MODE =========================== */
.dark-mode {
    background-color: $darkmode-bg;
    transition: ease-in-out .4s;

    header {
        background-color: $darkmode-bg-header;
        box-shadow: 0 0 .5rem silver;
        transition: ease-in-out .4s;

        .icon-anchor {
            color: $blue;
            text-shadow: 1px 1px 0 $borders-and-text;
        }

        #logo {
            color: $blue;
            text-shadow: 1px 1px 0 $borders-and-text;

            span {
                color: $white-for-dark;
                text-shadow: 1px 1px 0 $borders-and-text;
            }
        }
    }

    #balance {
        transition: ease-in-out .4s;

        .card {
            background: $moon;
            color: $darkmode-details;
            border-color: $white-for-dark;
            transition: ease-in-out .4s;
            box-shadow: 0 0 .5rem silver;
        }

        .card.total {
            color: $white-for-dark;
            background: rgb(6, 60, 6);
            transition: ease-in-out .4s;
        }
    }

    #transaction {
        transition: ease-in-out .4s;

        #data-table {
            color: $darkmode-details;

            thead {

                th {
                    background: $darkmode-bg-header;
                    transition: ease-in-out .4s;
                }
            }

            tbody {

                tr {
                    
                    td {
                        background: $darkmode-bg-header;
                        transition: ease-in-out .4s;

                        &.description {
                            color: $darkmode-details;
                        }
                    }
                }
            }
        }
    }

    .modal-overlay {

        .modal {
            background: $darkmode-bg-header;
            border-color: $white-for-dark;

            #form {
                
                h2{
                    color: $white-for-dark;
                    text-shadow: 1px 1px 0 black;
                }

                input {
                    background: $bg;
                }

                .help {
                    color: $white-for-dark;
                }

                .icon-anchor {
                    color: $blue;
                    text-shadow: 1px 1px 0 $blue;
                }
            }
        }
    }
        
    footer {
        color: $white-for-dark;
        transition: ease-in-out .4s;
    }
}